! Useful resource: http://www.computerhope.com/unix/uxrdb.htm

!!!!! Tron Legacy palette !!!!!
! http://www.colourlovers.com/palette/1406402/Tron_Legacy_2
!
! #df740c -- Orange
! #f58c4b -- Darker Orange -- extracted from tron wallpaper
! #ffe64d -- Sweet yellow
! #6fc3df -- Cyan legacy
! #e6ffff -- Pane (kinda white)
! #0c141f -- Basestar

!!! dircolors !!!
! color10 text files
! color12 is used in directory names (dircolors)

! XTerm
*background: #0c141f
*foreground: #6fc3df
*cursorColor: #ffe64d

! black/dark
*color0:     #0c141f
*color8:     #666666

! red/orange
*color1:     #f58c4b
*color9:     #df740c

! green
*color2:     #00ff00
*color10:    #9efe60

! yellow
*color3:     #ffe64d
*color11:    #ffff00

! blue
*color4:     #6f15cb
*color12:    #7e5edc

! purple
*color5:     #cb15c9
*color13:    #b75edc

! cyan
*color6:     #6fc3df
*color14:    #e6ffff

! white
*color7:     #e6ffff
*color15:    #e6ffff

!!! Xscreensaver !!!
xscreensaver*Dialog*foreground: #6fc3df
xscreensaver*Dialog*background: #0c141f
